* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
  font-size: 32px;
  color: rgb(0, 136, 255);
  text-align: center;
}


/*############################################################### INDEX HEADER ###############################################################*/
/*############################################################### INDEX HEADER ###############################################################*/
/*############################################################### INDEX HEADER ###############################################################*/
/*############################################################### INDEX HEADER ###############################################################*/
header {
  background-color: rgb(36, 36, 36);
  border-radius: 1px;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #009BFE;
  padding: 6px 10px;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

nav ul li a {
  color: #ffffff;
  transition: 0.3s;

}

nav ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: #024b79;
}

.nav-list a {
  text-decoration: none;
  font-size: 12px;
  color: white;
  padding: 6px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.nav-icon {
  width: 20px;
  height: 20px;
}



.logo {
  height: 100px;
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

/*############################################################### INDEX PRINCIPAL ###############################################################*/
/*############################################################### INDEX PRINCIPAL ###############################################################*/
/*############################################################### INDEX PRINCIPAL ###############################################################*/
/*############################################################### INDEX PRINCIPAL ###############################################################*/

.imgcontent {
  margin-top: 30px;
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.content {
  flex: 1;
  padding: 0 12px 40px;
}

.content h2 {
  font-size: 32px;
  color: rgb(0, 136, 255);
  text-align: center;
  margin-top: 50px;
}

.content p {
  font-size: 18px;
  padding: 12px;
  color: rgb(0, 0, 0);
  text-align: justify;
  font-weight: bold;
  max-width: 800px;
  margin: 0 auto;
}

/* CARDS */
.container-cards {
  min-height: 40vh;
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 12px;
  margin-bottom: 50PX;
}

.card {
  background-color: rgb(36, 36, 36);
  width: 260px;
  min-height: 250px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card:hover {
  box-shadow: 0 8px 16px #009BFE;
  transform: translateY(-5px);
}

.card h3 {
  font-size: 18px;
  color: #009BFE;
  margin-top: 2px;
  margin-bottom: 10px;
}

.card p {
  color: #ffffff;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;

}

.card img {
  height: 100px;
  width: 100px;
  padding: 0;
}

.container-meio {
  background-color: rgb(36, 36, 36);
  width: min(850px, 92vw);
  min-height: 200px;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto 50px auto;
  text-align: center;

}

.container-meio h1 {
  font-size: 28px;
  color: rgb(0, 136, 255);
  text-align: center;
}

.container-meio p {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.container-meio button {
  background-color: rgb(12, 136, 0);
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 14px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(4, 48, 0);
  color: #8a8a8a;
}

.parceiros-area h3 {
  font-size: 20px;
  color: rgb(0, 136, 255);
  text-align: center;
}

.parceiros-area h1 {
  font-size: 28px;
  color: rgb(0, 136, 255);
  text-align: center;
}

.parceiros-area p {
  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 20PX;
}

.container-fim {
  min-height: 40vh;
  margin-top: 10px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.parceiros {
  background-color: rgb(36, 36, 36);
  width: min(850px, 92vw);
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20PX;
}

.parceiros:hover {
  box-shadow: 0 8px 16px #000000;
  transform: translateY(-5px);
}

.parceiros img {
  margin-top: 20px;
  height: 120px;
  width: 180px;
  display: block;
  margin-bottom: 20px;
}


.parceiros p {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: justify;
}

.btn {
  text-decoration: none;
  color: inherit;
}


.btn {
  background-color: #009BFE;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  border: none;
  font-weight: bold;
  padding: 8px 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #024b79;
  color: #8a8a8a;
}

/*############################################################### RODAPE ###############################################################*/
/*############################################################### RODAPE ###############################################################*/
/*############################################################### RODAPE ###############################################################*/
/*############################################################### RODAPE ###############################################################*/

footer {
  background-color: rgb(36, 36, 36);
  font-size: 12px;
  padding: 12px;
  color: white;
  text-align: center;
}

footer img {
  height: 100px;
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.footer-grid {
  display: flex;
  justify-content: center;
  gap: 80px;
  font-weight: bold;
  flex-wrap: wrap;
}

.footer-grid div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  min-width: 160px;
}

.footer-grid a {
  text-decoration: none;
  color: #009BFE;
  transition: 0.3s;
  font-weight: bold;
  padding: 4px 6px;
  border-radius: 8px;
}

.footer-grid a:hover {
  color: rgb(255, 255, 255);
  background-color: #009BFE;
}

/*############################################################### PAGINA DE SOBRE ###############################################################*/
/*############################################################### PAGINA DE SOBRE ###############################################################*/
/*############################################################### PAGINA DE SOBRE ###############################################################*/
/*############################################################### PAGINA DE SOBRE ###############################################################*/
.content-sobre h1 {
  font-size: 32px;
  color: rgb(0, 136, 255);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sobre {
  background-color: rgb(230, 230, 230);
  width: min(800px, 92vw);
  min-height: 650px;
  padding: 20px;
  border-radius: 10px;
  margin: 30px auto 50px auto;
  text-align: center;
}

.sobre p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  text-align: justify;
}

.container-logo-sobre {
  background-color: rgb(36, 36, 36);
  width: min(800px, 92vw);
  min-height: 650px;
  padding: 20px;
  border-radius: 10px;
  margin: 30px auto 50px auto;
  text-align: center;
  margin-top: 30px;

}

.container-logo-sobre h1 {
  font-size: 28px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
}

.container-logo-sobre p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: justify;
}

.container-logo-sobre img {
  margin-top: 20px;
  height: 180px;
  width: 180px;
  display: block;
  margin-bottom: 20px;
}


/*############################################################### PAGINA DE CONTATO ###############################################################*/
/*############################################################### PAGINA DE CONTATO ###############################################################*/
/*############################################################### PAGINA DE CONTATO ###############################################################*/
/*############################################################### PAGINA DE CONTATO ###############################################################*/

.container-contato {
  min-height: 40vh;
  margin-top: 50px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 12px;
  margin-bottom: 50PX;
}

.contato {
  background-color: rgb(36, 36, 36);
  width: 260px;
  min-height: 250px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contato:hover {
  box-shadow: 0 8px 16px #009BFE;
  transform: translateY(-5px);
}

.contato h3 {
  font-size: 18px;
  color: #ffffff;
  margin-top: 2px;
  margin-bottom: 10px;
}

.contato p {
  color: #ffffff;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;

}

.contato img {
  height: 100px;
  width: 100px;
  padding: 0;
}

.contato button {
  background-color: #009BFE;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  border: none;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 14px;
  cursor: pointer;
}

.contato button:hover {
  background-color: #024b79;
  color: #8a8a8a;
}

.entramos-contato {
  background-color: rgb(36, 36, 36);
  width: min(850px, 92vw);
  min-height: 200px;
  padding: 20px;
  border-radius: 10px;
  margin: 30px auto 50px auto;
  text-align: left;
}

.entramos-contato form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.entramos-contato label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
}

.entramos-contato input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.entramos-contato input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

.entramos-contato br {
  display: none;
}


.entramos-contato h1 {
  font-size: 32px;
  color: rgb(0, 136, 255);
  text-align: center;
  margin-top: 50px;
}

.btn-enviar {
  margin-top: 25px;
  padding: 15px;
  background-color: #009BFE;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.btn-enviar:hover {
  background-color: #024b79;
  color: #8a8a8a;
}



/*############################################################### PAGINA SERVIÇOS ###############################################################*/
/*############################################################### PAGINA SERVIÇOS ###############################################################*/
/*############################################################### PAGINA SERVIÇOS ###############################################################*/
/*############################################################### PAGINA SERVIÇOS ###############################################################*/

.container-servicos {
  min-height: 40vh;
  margin-top: 10px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.servicos {
  background-color: rgb(36, 36, 36);
  width: min(1000px, 92vw);
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20PX;
  margin-top: 50px;
}

.servicos .servicos h1 {
  font-size: 32px;
  color: #0088ff;
  text-align: center;
  margin-bottom: 30px;
}

.servicos h2 {
  font-size: 28px;
  color: #0088ff;
  text-align: center;
  margin: 50px 0 20px 0;
}

.servicos p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 20px;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}


.servicosimg {
  margin-top: 30px;
  width: 100%;
  max-width: 850px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.servicos ul,
.servicos ol {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.servicos li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  margin: 12px 0;
  color: #ffffff;
  font-weight: 12px;
  font-size: 20px;
}

.servicos li i {
  color: #0a74da;
  min-width: 20px;
  text-align: center;
}

.servicos i {
  color: #ffffff;
  padding: 10px;

}

.servicos button {
  margin-top: 25px;
  padding: 15px;
  background-color: #009BFE;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.servicos button:hover {
  background-color: #024b79;
  color: #8a8a8a;
}

/*############################################################### SCROLLBAR ###############################################################*/
/*############################################################### SCROLLBAR ###############################################################*/
/*############################################################### SCROLLBAR ###############################################################*/
/*############################################################### SCROLLBAR ###############################################################*/


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(36, 36, 36);

}

::-webkit-scrollbar-thumb {
  background-color: #009BFE;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #024b79;
}


/*############################################################### PAGINA RELATOS ###############################################################*/
/*############################################################### PAGINA RELATOS ###############################################################*/
/*############################################################### PAGINA RELATOS ###############################################################*/
/*############################################################### PAGINA RELATOS ###############################################################*/

.content h1 {
  font-size: 32px;
  color: rgb(0, 136, 255);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.relato-container {
  background-color: rgb(36, 36, 36);
  max-width: 900px;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.relato-container h6 {
  margin-top: 15px;
  font-size: 20px;
  color: #000000;
}

.logoempresa {
  margin-top: 20px;
  width: 150px !important;
  height: auto !important;
  margin-bottom: 20px;
}

.topo {
  margin-top: 30px;
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.ceo-info {
  display: flex;
  gap: 10px;
  background-color: #009BFE;
  padding: 2px 5px;
  border-radius: 8px;
  width: fit-content;
  margin: 20px 5px 0 auto;
  align-items: center;
}


.ceo-info h6 {
  margin: 0;
  font-size: 14px;
  color: #2b2b2b;
  font-size: 18px;
  padding: 20px;
}

.relato-container p {
  color: #ffffff;

}

.logoceo {
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  object-fit: cover;

}

/*############################################################### EQUIPE ###############################################################*/
/*############################################################### EQUIPE ###############################################################*/
/*############################################################### EQUIPE ###############################################################*/
/*############################################################### EQUIPE ###############################################################*/



.container-equipe {
  background-color: #2b2b2b;
  align-items: center;
  text-align: center;
  max-width: 350px;
  border-radius: 30px;
  padding: 15px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;

}

.container-equipe:hover {
  box-shadow: 0 8px 16px #009BFE;
  transition: 0.3s;
}

.container-equipe-geral {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  max-width: 600px;
  margin: auto;
}

.fotoequipe {
  width: 250px !important;
  height: 250px !important;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
  background-color: #f3f3f3;

}

.texto h1{
margin-top: 50px;
margin-bottom: 5px;

}

.texto p{
margin-bottom: 50px;

}
.container-equipe h2 {
  font-size: 20px;
  color: rgb(0, 136, 255);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2px;

}

.container-equipe h3 {
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 2px;

}

/*############################################################### MEDIA MOBILE ###############################################################*/
/*############################################################### MEDIA MOBILE ###############################################################*/
/*############################################################### MEDIA MOBILE ###############################################################*/
/*############################################################### MEDIA MOBILE ###############################################################*/

@media (max-width: 768px) {

  h1,
  .content h2 {
    font-size: 26px;
  }

  .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10px;

  }

  .container-equipe-geral {
    grid-template-columns: 1fr; /* 1 card por linha */
  }


  .servicos li {
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 12px 0;
    color: #ffffff;
    font-weight: 12px;
    font-size: 16px;
  }

  .servicos h1 {
    font-size: 18px;
    color: #0088ff;
    text-align: center;
    margin-bottom: 30px;
  }

  .servicos h2 {
    font-size: 18px;
    color: #0088ff;
    text-align: center;
    margin: 40px 0 20px 0;
  }

  .nav-list {
    gap: 2px;
    font-size: 5px;
  }

  .nav-list a {
    text-decoration: none;
    font-size: 10px;
    color: white;
    padding: 6px 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
  }

  .card {
    width: min(320px, 92vw);
    padding: 20px;
  }

  .footer-grid {
    gap: 10px;
  }

  .footer-grid div {
    min-width: auto;
    width: 100%;
    align-items: center;
  }

  .content p {
    text-align: center;
  }
}